**Pandas**

Pandas is a Python library used to analyze data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [2]:
import pandas as pd
print(pd.__version__)

1.3.5

> Series

It is for 1D array

In [3]:
cars = ['Toyota','Suzuki','BMW']
print(cars)
cars = pd.Series(cars)
print(cars)

['Toyota', 'Suzuki', 'BMW']
0    Toyota
1    Suzuki
2       BMW
dtype: object

> Dataframe

It is for 2D array

In [4]:
cars_dt = {
    'name':['Toyota','Suzuki','BMW'],
    'model':[2022,2019,2019]
}
print(cars_dt)
print("______")
print(pd.DataFrame(cars_dt))

{'name': ['Toyota', 'Suzuki', 'BMW'], 'model': [2022, 2019, 2019]}
______
     name  model
0  Toyota   2022
1  Suzuki   2019
2     BMW   2019

Read Dataset

In [5]:
rd_dt = pd.read_csv('/kaggle/input/dhakahomepricedataset/Dhaka_homeprices_dataset.csv')
print(type(rd_dt))
print(rd_dt.shape)
print(rd_dt)
print("showing from head")
print(rd_dt.head(2))
print("Showing from tail")
print(rd_dt.tail(2))

<class 'pandas.core.frame.DataFrame'>
(10, 2)
   area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000
showing from head
   area  price
0  2600  55000
1  3000  56500
Showing from tail
   area   price
8  1200   17000
9  5000  100000

In [6]:
print(rd_dt.describe)

<bound method NDFrame.describe of    area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000>

In [7]:
print(rd_dt.isnull().sum())

area     0
price    0
dtype: int64

> Read Json file

In [8]:
test = [
    {
        "name": "Abu Shadat Shaikat",
        "id": 200101057,
        "home": "NIL"
    },
    {
        "name": "Md Al Arman Sarker",
        "id":200101059,
        "home":"NIL"
    }
]
test = pd.DataFrame(test)
print(test)
print(type(test))

                 name         id home
0  Abu Shadat Shaikat  200101057  NIL
1  Md Al Arman Sarker  200101059  NIL
<class 'pandas.core.frame.DataFrame'>

> Replace Using Mean, Median, or Mode

In [16]:
for i in rd_dt.index:
    if rd_dt.loc[i,"area"] < 1400:
        rd_dt.loc[i,"area"] = 2000
print(rd_dt)

   area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  2000   17000
9  5000  100000